<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no,user-scalable=yes">
    <meta name="description" content="Location based discussion forum focused on bringing communities and neighborhoods together while allowing user freedom to encourage interactions.">
    <meta name="keywords" content="Discussion forum, threads, messages, location based discussion, images, topical posts, user interactions, geolocation. anonymous posts and usernames. ">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/slick/slick.css">
    <link rel="stylesheet" href="assets/slick/slick-theme.css">
    <!-- icon css-->
    <link rel="stylesheet" href="assets/elagent-icon/style.css">
    <link rel="stylesheet" href="assets/niceselectpicker/nice-select.css">
    <link rel="stylesheet" href="assets/animation/animate.css">
    <link rel="stylesheet" href="assets/mcustomscrollbar/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
    integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
    crossorigin=""/>
    <link rel="stylesheet" href="css/style-main.css">
    <link rel="stylesheet" href="css/about.css">
    <link rel="stylesheet" href="css/responsive.css">
    <title>CommunityChat</title>
</head>

<body data-scroll-animation="true">
    <div id="preloader">
        <div id="ctn-preloader" class="ctn-preloader">
            <div class="round_spinner">
                <div class="spinner"></div>
                <div class="text">
                    <img src="img/spinner_logo.png" alt="">
                    <h4><span><bold>CommunityChat</bold></span></h4>
                </div>
            </div>
            <h2 class="head">Fetching communities, one second!</h2>
            <p></p>
        </div>
    </div>
    <div class="">
        <div class="click_capture"></div>

        <!--================Navbar Area =================-->
        <nav class="navbar navbar-expand-lg  menu_one sticky-nav d-none d-lg-block">
            <div class="container">
                <a class="navbar-brand header_logo" href="index.html">
                    <span class="display-6">CC</span>
                    <!-- <img class="first_logo sticky_logo" src="img/logo.png" srcset="img/logo-2x.png 2x" alt="logo">
                    <img class="white_logo main_logo" src="img/logo-w.png" srcset="img/logo-w2x.png 2x" alt="logo"> -->
                </a>


                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav menu ms-auto">
                        <li class="nav-item dropdown submenu active">
                            <a href="../home" class="nav-link dropdown-toggle">Home</a>
                            <i class="arrow_carrot-down_alt2 mobile_dropdown_icon" aria-hidden="false"
                                data-bs-toggle="dropdown"></i>
                            <!-- <ul class="dropdown-menu">
                                <li class="nav-item active"><a href="index.html" class="nav-link">Demo 01</a></li>
                                <li class="nav-item "><a href="index-2.html" class="nav-link">Demo 02</a></li>
                                <li class="nav-item"><a href="index-3.html" class="nav-link">Demo 03</a></li>
                                <li class="nav-item"><a href="index-4.html" class="nav-link">Demo 04</a></li>
                                <li class="nav-item"><a href="index-5.html" class="nav-link">Demo 05</a></li>

                            </ul> -->
                        </li>
                    </ul>
                    <div class="right-nav makeRoom">
                        <div class="px-2 js-darkmode-btn paddedSwitch" title="Toggle dark mode">
                            <label for="something" class="tab-btn tab-btns">
                                <ion-icon name="moon"></ion-icon>
                            </label>
                            <label for="something" class="tab-btn">
                                <ion-icon name="sunny"></ion-icon>
                            </label>
                            <label class="ball" for="something"></label>
                            <input type="checkbox" name="something" id="something" class="dark_mode_switcher">
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <div class="mobile_main_menu sticky-nav menu_one">
            <div class="container">
                <div class="mobile_menu_left">
                    <button type="button" class="navbar-toggler mobile_menu_btn">
                        <span class="menu_toggle ">
                            <span class="hamburger">
                                <span></span>
                                <span></span>
                                <span></span>
                            </span>
                        </span>
                    </button>
                    <a class="navbar-brand header_logo" href="../home">
                        <span class="display-6">CC</span>
                        <!-- <img class="sticky_logo " src="img/logo.png" srcset="img/logo-2x.png 2x" alt="logo">
                        <img class="main_logo white_logo" src="img/logo-w.png" srcset="img/logo-w2x.png 2x" alt="logo"> -->
                    </a>
                </div>
                <div class="mobile_menu_right">
                        <div class="px-2 js-darkmode-btn paddedSwitch" title="Toggle dark mode">
                            <label for="something2" class="tab-btn tab-btns">
                                <ion-icon name="moon"></ion-icon>
                            </label>
                            <label for="something2" class="tab-btn">
                                <ion-icon name="sunny"></ion-icon>
                            </label>
                            <label class=" ball" for="something2"></label>
                            <input type="checkbox" name="something2" id="something2" class="dark_mode_switcher">
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="side_menu">
            <div class="mobile_menu_header">
                <div class="close_nav">
                    <i class="icon_close"></i>
                </div>
                <div class="mobile_logo">
                    <a class="navbar-brand header_logo me-0" href="../home">
                        <span class="display-6">CommunityChat</span>
                        <!-- <img class="sticky_logo main_logo" src="img/logo.png" srcset="img/logo-2x.png 2x" alt="logo">
                        <img class="white_logo" src="img/logo-w.png" srcset="img/logo-w2x.png 2x" alt="logo"> -->
                    </a>
                </div>
            </div>
            <div class="mobile_nav_wrapper">
                <nav class="mobile_nav_top">
                    <ul class="navbar-nav menu ms-auto">
                        <li class="nav-item dropdown submenu active">
                            <a href="../home" class="nav-link dropdown-toggle">Home</a>
                            <i class="arrow_carrot-down_alt2 mobile_dropdown_icon"></i>
                            <!-- <ul class="dropdown-menu">
                                <li class="nav-item active"><a href="index.html" class="nav-link">Demo 01</a></li>
                                <li class="nav-item"><a href="index-2.html" class="nav-link">Demo 02</a></li>
                                <li class="nav-item "><a href="index-3.html" class="nav-link">Demo 03</a></li>
                                <li class="nav-item "><a href="index-4.html" class="nav-link">Demo 04</a></li>
                                <li class="nav-item "><a href="index-5.html" class="nav-link">Demo 05</a></li>
                            </ul> -->
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <!--================Banner Area =================-->
        <section class="banner-area-3">
            <div class="banner-shapes">
                <div class="shape">
                    <img data-parallax='{"x": -60, "y": 0}' src="img/home_two/banner-shape-1.png" alt="shape">
                </div>
                <div class="shape">
                    <img data-parallax='{"x": -20, "y": 0}' src="img/home_two/banner-shape-2.png" alt="shape">
                </div>
                <div class="shape">
                    <img data-parallax='{"x": 60, "y": 0}' src="img/home_two/banner-shape-3.png" alt="shape">
                </div>
                <div class="shape">
                    <img data-parallax='{"x": 40, "y": 0}' src="img/home_two/banner-shape-4.png" alt="shape">
                </div>
                <div class="shape">
                    <img data-parallax='{"x": 200, "y": 90, "rotateY":700}' src="img/home_two/banner-shape-5.png"
                        alt="shape">
                </div>
                <div class="shape">
                    <img data-parallax='{"x": 200, "y": 70, "rotateZ":700}' src="img/home_two/banner-shape-6.png"
                        alt="shape">
                </div>
                <div class="shape">
                    <img data-parallax='{"x": -150, "y": 90, "rotateZ":0}' src="img/home_two/banner-shape-7.png"
                        alt="shape">
                </div>
                <div class="shape">
                    <img data-parallax='{"x": -200, "y": 90, "rotateX":700}' src="img/home_two/banner-shape-8.png"
                        alt="shape">
                </div>
                <div class="shape">
                    <img data-parallax='{"x": -150, "y": 90, "rotateZ":0}' src="img/home_two/banner-shape-9.png"
                        alt="shape">
                </div>
                <div class="shape">
                    <img data-parallax='{"x": -200, "y": 70, "rotateX":700}' src="img/home_two/banner-shape-10.png"
                        alt="shape">
                </div>
            </div>
            <div class="container">
                <div class="row doc_banner_content">
                    <div class="col-12 px-0">
                        <h1 class="banner-title-h1">About CommunityChat</h1>
                        <p class="banner-text-p">a tool to help communities grow closer through local interactions.</p>
                    </div>
                    <!-- Search bar -->
                    <!-- <div class="col-lg-8 mx-auto">
                        <div class="banner-search-box mt-40">
                            <form action="#">
                                <div class="input-wrapper">
                                    <input placeholder="Find your community..." type='search' id="searchbox"
                                        autocomplete="off" name="search">
                                    <button type="submit" class="search-btn">Search Locale</button>
                                </div>
                            </form>
                        </div>
                    </div> -->
                </div>
            </div>
        </section>
        <!--================End Bannner Area =================-->
         <!--================Feature one Area =================-->
         <section class="feature-two" id="about-1-container">
            <div class="container">
                <div class="row align-items-center gy-4 gy-lg-0">
                    <div class="col-lg-6 order-lg-1 ps-lg-4 text-center text-lg-start  offset-xl-1">
                        <div class="img-content wow fadeInLeft">
                            <img class="img-fluid logo-image" src="../img/cover.png" alt="post">
                            <!-- <img src="img/home_two/scribbles-scribbles-43.png" alt="shape"> -->
                            <!-- <img class="bg-img" src="img/home_two/daily-notification-bg.png" alt="bg"> -->
                        </div>

                    </div>
                    <div class="col-xl-5 col-lg-6 pe-xl-0 order-lg-1">
                        <div class="feature-content-text wow fadeInRight mt-4 mt-xl-0 ">
                            <h2 class="text-light">Usage</h2>
                            <p class="text-light">
                                This application was built in the spirit of promoting voices within local areas to be heard by others around them.
                                The hope is that this may allow users in close proximity with one another to have a voice and be a community outside of the likes of larger companies that have incentive to constantly keep your attention.

                            </p>
                            <hr>
                            <h5 class="text-light">Want to start posting?</h5>
                            <a href="/register" class="dbl-arrow">
                                <div class="arrow-cont">
                                    <i class="arrow_carrot-right first"></i>
                                    <i class="arrow_carrot-right second"></i>
                                </div> sign up
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================End Feature one Area =================-->
        <!--================Feature Two Area =================-->
        <section class="feature-two" id="about-2-container">
            <div class="container">
                <div class="row align-items-center gy-4 gy-lg-0">
                    <div class="col-lg-6 order-lg-2 ps-lg-4 text-center text-lg-start  offset-xl-1">
                        <div class="img-content wow fadeInLeft">
                            <img class="img-fluid " src="../img/nodejs-new-pantone-white.png" alt="post">
                            <!-- <img src="img/home_two/scribbles-scribbles-43.png" alt="shape"> -->
                            <!-- <img class="bg-img" src="img/home_two/daily-notification-bg.png" alt="bg"> -->
                        </div>

                    </div>
                    <div class="col-xl-5 col-lg-6 pe-xl-0 order-lg-1">
                        <div class="feature-content-text wow fadeInRight mt-4 mt-xl-0 ">
                            <h2 class="text-light">Tools Used</h2>
                            <p class="text-light">
                                CommunityChat is a fullstack application built utilizing a 
                                Node.js backend with Express used as a framework. MongoDB alongside mongoose is used to store and access data, along with cloudinary for media storage.
                            </p>
                            <hr>
                            <h5 class="text-light">Interested more in how the site was developed?</h5>
                            <a href="#" class="dbl-arrow">
                                <div class="arrow-cont">
                                    <i class="arrow_carrot-right first"></i>
                                    <i class="arrow_carrot-right second"></i>
                                </div> Contact Me
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================End Feature Two Area =================-->
        
    

        <!--================Footer Area =================-->
        <footer class="footer-3 ">
            <div class="footer-shapes">
                <div class="shape">
                    <img class="wow fadeInLeft" data-wow-delay="0.5s" src="img/footer/shape-1.png" alt="">
                </div>
                <div class="shape">
                    <img src="img/footer/shape-2.png" alt="">
                </div>
            </div>
            <div class="container">
                <div class="footer-top pt-105 pb-120">
                    <div class="row gy-lg-0 gy-4">
                        <div class="col-lg-4 col-sm-6 wow fadeInLeft">
                        </div>
                        <div class="col-lg-2 ps-xl-4 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">

                        </div>
                        <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">

                        </div>
                        <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">

                        </div>
                    </div>
                </div>
                <div class="footer-bottom pt-40 pb-40">
                    <div class="d-flex justify-content-between flex-wrap">

                        <p class="wow fadeInRight">Copyright Cy Pemberton, All Rights Reserved</p>
                        <!-- <ul class="footer-menu list-unstyled wow fadeInLeft">
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Latest Projects</a></li>
                        </ul> -->
                    </div>
                </div>
            </div>
        </footer>
        <!--================End Footer Area =================-->
    </div>

    <!-- Back to top button -->
    <a id="back-to-top" title="Back to Top"></a>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/jquery-3.5.1.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="js/pre-loader.js"></script>
    <script src="assets/slick/slick.min.js"></script>
    <script src="js/jquery.parallax-scroll.js"></script>
    <script src="assets/niceselectpicker/jquery.nice-select.min.js"></script>
    <script src="assets/wow/wow.min.js"></script>
    <script src="assets/mcustomscrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="assets/counterup/jquery.waypoints.min.js"></script>
    <script src="assets/counterup/jquery.counterup.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
    <script src="js/main.js"></script>
    <script src="https://kit.fontawesome.com/3272150344.js" crossorigin="anonymous"></script>
                             <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
                             integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
                             crossorigin=""></script>
    <!-- <script src = "js/mainCC.js"></script> -->

</body>

</html>