.originalPost{
    background-color: #acfd7d4b;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}
.originalContent{
    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom: 5px;
    background-color: #9bdaff41;
    border-radius: 5px;
}
.forum-post-top .forum-post-author .author-name.userName{
    font-weight: bold;
    color: orange;
    padding: 2px;
    border-radius: 2px;
}
.replies{
    padding:1.5%;
    background-color: #b3b3b341;
    border-radius: 5px;
}

.updateText{
    
}
