.originalPost{
    background-color: #b3b3b34b;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}
.originalContent{
    margin-bottom: 10px;
    background-color: #b3b3b341;
    border-radius: 5px;
}
.forum-post-top .forum-post-author .author-name.userName{
    font-weight: bold;
    background-color: rgba(184, 184, 184, 0.411);
    color: orange;
    padding: 2px;
    border-radius: 2px;
}
.replies{
    background-color: #b3b3b341;
    border-radius: 5px;
}
